/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2
#define ADJUST  3
#define LWR LOWER
#define RSE RAISE
#define ADJ ADJUST

&mt {
    quick-tap-ms = <180>;
    tapping-term-ms = <250>;
};

&lt {
    quick_tap_ms = <200>;
    tapping-term-ms = <180>;
};




    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <LOWER RAISE>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
        &kp Q        &kp W           &kp E         &kp R  &kp T    &kp Y             &kp U         &kp I          &kp O           &kp P  
  &hml LCMD A  &hml RALT S    &hml LCTRL D  &hml LSHFT F  &kp G    &kp H      &hmr RSHFT J  &hmr RCTRL K    &hmr RALT L  &hmr RCMD SEMI  
       &kp Z  &hml LALT X           &kp C         &kp V  &kp B    &kp N             &kp M     &kp COMMA  &hmr LALT DOT        &kp FSLH  
                                 &mt LCTRL LBKT    &lt 1 RBKT  &kp SPACE    &kp ENTER  &lt 1 APOSTROPHE     &kp GRAVE
            >;
        };

        lower_layer {
            bindings = <
    &kp N1    &kp N2       &kp N3        &kp N4     &kp N5         &kp HOME    &kp UP    &kp PG_UP         &kp N9      &kp N0  
  &kp LCMD  &kp RALT    &kp LCTRL     &kp LSHFT      &none         &kp LEFT  &kp DOWN    &kp RIGHT          &none    &kp RCMD  
     &none  &kp LALT        &none         &kp Y      &none          &kp END     &none    &kp PG_DN  &hmr LALT END  &caps_word  
                           &lt RSE ESC  &lt LWR QUOT  &kp SPACE    &mt RSHFT RET   &mo RSE  &lt LWR TAB
            >;
        };

        raise_layer {
            bindings = <
      &kp EXCL        &kp AT       &kp HASH       &kp DLLR  &kp PRCNT        &kp EQUAL         &kp NUMBER_7         &kp NUMBER_8        &kp NUMBER_9        &kp GRAVE  
  &hml LCMD F1  &hml RALT F2  &hml LCTRL F3  &hml LSHFT F2     &kp F5        &kp MINUS  &hmr RSHFT NUMBER_4  &hmr RCTRL NUMBER_5  &hmr RALT NUMBER_6  &hmr RCMD MINUS  
        &kp F6  &hml LALT F7         &kp F8        &kp F11    &kp F12     &kp NUMBER_0         &kp NUMBER_1         &kp NUMBER_2        &kp NUMBER_3         &kp BSLH  
                                     &lt RSE ESC        &mo LWR  &kp GRAVE    &mt RSHFT RET         &lt RSE BSPC          &lt LWR TAB
            >;
        };

        adjust_layer {
            bindings = <
    &bt BT_CLR         &none         &none         &none         &none           &none    &kp K_MUTE  &none  &none  &bootloader  
  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp C_BRI_UP  &kp C_VOL_UP  &none  &none        &none  
         &none         &none         &none         &none         &none    &kp C_BRI_DN  &kp C_VOL_DN  &none  &none        &none  
                                          &none         &none         &none           &none         &none  &none
            >;
        };
    };
};
